// header styles
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
  color: white;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
